<ul th:fragment="farright">
	<li><a href="https://github.com/jamesagnew/hapi-fhir"><span
			class="fa fa-github topbarIcon"></span>&nbsp;Source Code</a></li>
	<li><a href="about"><span
			class="fa fa-question-circle topbarIcon"></span>&nbsp;About This
			Server</a></li>
	<li>
	<!-- 	<form action="/user_logout" id="logout" method="post">
			<input type="hidden" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" />
		</form> <a class="topbarIcon" href="/user_logout" onclick="document.getElementById().submit('logout');">Sign
			Out</a> -->
			
			 <a class="topbarIcon" href="logout" >Sign
			Out</a>
	</li>
</ul>